{% extends "base.html" %}

{% block title %}
Tutorial
{% endblock %}

{% block content %}
    <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
        <section class="py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                        <div class="px-0">
                            <h1 class="display-4 font-italic">Introduce the general environment of stock market
                                investment</h1>
                            <p class="lead my-3">Investing is a way to set aside money while you are busy with life and
                                have
                                that money work for you so that you can fully reap the rewards of your labor in the
                                future.
                                Investing is a means to a happier ending. Legendary investor Warren Buffett defines
                                investing as "…the process of laying out money now to receive more money in the future."
                                The goal of investing is to put your money to work in one or more types of investment
                                vehicles in the hopes of growing your money over time. Our aim is to help you familiar
                                with
                                stock and can find opportunities to make money.</p>
                            <p class="lead mb-0 text-white font-weight-bold">Here are some useful tips:</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Explainer</strong>
                                    <h3 class="mb-0">What is short selling?</h3>
                                    <div class="mb-1 text-muted">Carole Comerton-Forde</div>
                                    <p class="card-text mb-auto">Short selling means that you are selling something that
                                        you do not own. Most people struggle to understand...</p>
                                    <a href="https://theconversation.com/explainer-what-is-short-selling-9337" class="stretched-link">Continue reading</a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <img class="bd-placeholder-img" width="200" height="250"
                                         src="https://images.theconversation.com/files/15497/original/qmct3sxr-1347840963.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=200&h=250&fit=crop">
                                        <rect width="100%" height="100%" fill="#55595c"/>
                                    </img>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Tip</strong>
                                    <h3 class="mb-0">Use Google Trends</h3>
                                    <div class="mb-1 text-muted">David Tuffley</div>
                                    <p class="card-text mb-auto">What a curious thing the stock market is; so powerful, yet so flighty. Like a school of sardines, it moves as one, changing ...</p>
                                    <a href="https://theconversation.com/stock-market-tip-use-google-trends-13745" class="stretched-link">Continue reading</a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <img class="bd-placeholder-img" width="200" height="250"
                                         src="https://images.theconversation.com/files/22879/original/jfvqd2xh-1366940549.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=200&h=250&fit=crop">
                                        <rect width="100%" height="100%" fill="#55595c"/>
                                    </img>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Explainer</strong>
                                    <h3 class="mb-0">Why stock market panic can signal a good time to buy</h3>
                                    <div class="mb-1 text-muted">Lee Smales</div>
                                    <p class="card-text mb-auto">In theory, asset values should be determined by competition among rational investors. Such competition makes...</p>
                                    <a href="https://theconversation.com/explainer-why-stock-market-panic-can-signal-a-good-time-to-buy-56349" class="stretched-link">Continue reading</a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <img class="bd-placeholder-img" width="200" height="250"
                                         src="https://images.theconversation.com/files/115238/original/image-20160316-8453-1qzdwrb.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=200&h=250&fit=crop">
                                        <rect width="100%" height="100%" fill="#55595c"/>
                                    </img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
