{% extends "base.html" %}

{% block title %}
Tutorial
{% endblock %}

{% block content %}
    <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
        <section class="py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                        <div class="px-0">
                            <h1 class="display-4 font-italic">Introdução ao estudo</h1>
                            <p class="lead my-3">O método a ser utilizado para estudos é algo extremamente subjetivo. Alguns estudantes preferem a ajuda dos professores e 
                                colegas para aprofundar-se em determinados assuntos, mas há quem prefira o estudo individual. Fato é que não existe forma certa ou errada, 
                                o importante é estudar sempre e com disciplina. Para definir uma técnica de aprendizado, o aluno deve, em primeiro lugar, levar em consideração
                                o seu comportamento e o grau de dificuldade de assimilação quando está em grupo e quando está sozinho. Concentração, motivação e rendimento 
                                devem ser avaliados e comparados nas duas situações.
                                </p>
                            <p class="lead mb-0 text-white font-weight-bold">Aqui tem algumas dicas úteis:</p>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Dica</strong>
                                    <h3 class="mb-0">Dicas para estudar sozinho!</h3>
                                    <div class="mb-1 text-muted">Unipam</div>
                                    <p class="card-text mb-auto">Estudar sozinho nem sempre é fácil. É preciso autodisciplina para manter uma rotina proveitosa e satisfatória.
                                        Você tem dificuldades sobre como se...</p>
                                    <a target="_blank" href="https://ead.unipam.edu.br/blog/como-se-organizar-para-estudar" class="stretched-link">Continue lendo</a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <img class="bd-placeholder-img" width="200" height="250"
                                         src="https://images.theconversation.com/files/15497/original/qmct3sxr-1347840963.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=200&h=250&fit=crop">
                                        <rect width="100%" height="100%" fill="#55595c"/>
                                    </img>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Dica</strong>
                                    <h3 class="mb-0">Aplicativos para auxiliar nos estudos!</h3>
                                    <div class="mb-1 text-muted">Marketeam</div>
                                    <p class="card-text mb-auto">Estudar não é uma tarefa simples. Mas pode ser! E tecnologia é essencial para ajudar nisso, já que existem 
                                        inúmeros aplicativos para estudar capazes de nos guiar...</p>
                                    <a target="_blank" href="https://usemobile.com.br/apps-para-estudar/#:~:text=Estudar%20não%20é%20uma%20tarefa,em%20uma%20bola%20de%20neve." class="stretched-link">Continue lendo</a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <img class="bd-placeholder-img" width="200" height="250"
                                         src="https://images.theconversation.com/files/22879/original/jfvqd2xh-1366940549.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=200&h=250&fit=crop">
                                        <rect width="100%" height="100%" fill="#55595c"/>
                                    </img>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">Explicativo</strong>
                                    <h3 class="mb-0">Como fazer uma boa redação?</h3>
                                    <div class="mb-1 text-muted">Brasil escola</div>
                                    <p class="card-text mb-auto">Para escrever uma boa redação, você deve conhecer as regras gramaticais e as diferentes técnicas que levam 
                                        à elaboração de uma mensagem coesa e coerente...</p>
                                    <a target="_blank" href="https://mundoeducacao.uol.com.br/redacao" class="stretched-link">Continue lendo</a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <img class="bd-placeholder-img" width="200" height="250"
                                         src="https://images.theconversation.com/files/115238/original/image-20160316-8453-1qzdwrb.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=200&h=250&fit=crop">
                                        <rect width="100%" height="100%" fill="#55595c"/>
                                    </img>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
