asgiref==3.5.0
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==3.0.4
crypto==1.4.1
Django==3.2.12
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-form==3.4
django-bootstrap-modal-forms==1.5.0
django-bootstrap4==1.0.1
django-timezone-field==4.0
djangorestframework==3.11.0
idna==2.8
mysql-connector-python==8.0.17
mysqlclient==1.4.4
Naked==0.1.31
protobuf==3.19.4
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==6.0
requests==2.22.0
shellescape==3.8.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.25.11
