{% extends 'base.html' %}
{% load static %}

{% block title %}
    Watchlist
{% endblock %}

{% block content %}
    <style>
        .ui-group {
            display: inline-block;
        }

        .ui-group__title {
            display: inline-block;
            vertical-align: top;
            font-size: 1.2rem;
            line-height: 40px;
            margin: 0 10px 0 0;
            font-weight: bold;
        }

        .button-group {
            display: inline-block;
            margin-right: 20px;
        }

        .wl_now {
            white-space: nowrap;
            text-align: center;
            font-size: 3rem;
        }

        .wl_change {
            text-align: right;
            font-size: 20px;
            line-height: 26px;
        }

        body {
        font-family: "Poppins", sans-serif;
        background-color: #fafafa;
        }
 
        .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        }

        .card {
        border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
        padding: 30px;
        margin: 20px;
        width: 400px;
        transition: all 0.3s ease-out;
        }

        .card:hover {
        transform: translateY(-5px);
        cursor: pointer;
        }
 
        .card p {
        color: #a3a5ae;
        font-size: 50px;
        }
 
        .image {
        float: right;
        max-width: 64px;
        max-height: 64px;
        }

        .blue {
        border-left: 3px solid #4895ff;
        }
 
        .green {
        border-left: 3px solid #3bb54a;
        }
 
        .red {
        border-left: 3px solid #b3404a;
        }

        .grey {
        border-left: 3px solid #757171;
        }
        .dark {
        border-left: 3px solid #000000;
        }

        .pink {
        border-left: 3px solid #e210b5;
        }
    </style>
    <div data-overlay class="bg-primary-2 text-white o-hidden">
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 text-center">
                        <h1 class="display-3">Matérias</h1>
                        <div class="btn-toolbar">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="divider divider-bottom bg-light"></div>
    </div>
      
    <body> 
        <div class="row">
            <div class="card green">
              <h2>Português</h2>
 
            </div>
       
            <div class="card blue">
              <h2>Matemática</h2>
            </div>
       
            <div class="card red">
              <h2>Inglês</h2>
            </div>
          </div>
        </body>
        <body> 
            <div class="row">
                <div class="card grey">
                  <h2>Geografia</h2>
                </div>
           
                <div class="card dark">
                  <h2>História</h2>
                </div>
           
                <div class="card pink">
                  <h2>Ciências</h2>
                </div>
              </div>
            </body>

    <div class="modal fade" style="position: fixed;z-index: 999999;max-width: 1000px; left: 270px; top:300px;"
         id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        x
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Remove it from your watchlist
                    </h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this stock from your watchlist?
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="url"/>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-info btn-sm" onclick="urlSubmit()">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_content %}
    <script>
        function urlSubmit() {
            var url = $.trim($("#url").val());
            window.location.href = url;
        }
    </script>

{% endblock %}