<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/esqueceu-senha-design.css' %}">
    <link rel="shortcut icon" href="{% static 'midia/livro-favico.ico' %}" type="image/x-icon">
    <script src="{% static 'js/Busca-email.js' %}"></script>
    <title>Esqueceu senha</title>
</head>
<body>
   <div class="card-btn-voltar">
        <div class="btn-voltar">
            <a href="/">Voltar</a>
        </div>
    </div> 
    <div class="main-esqueceu-senha">
        <div class="center-esqueceu-senha">
            <h1>Esqueceu a senha?</h1>
            <p>Insira o email usado para o acesso anterior, para recuperarmos sua conta :)</p>
            <div class="card-esqueceu-senha">
                <div class="textfield">                 
                    <label id = "label-email" for="Email">Usuário</label>
                    <input type="text" id ="email" placeholder="Email" required>
                        </div class="btn-esqueceu-senha">
                            <button onclick = "buscaEmail()" class="btn-esqueceu-senha">Enviar Email</button>
                        </div>
                </div>
        </div>
    </div>
</body>
</html>