
{% extends 'base.html' %}
{% load static %}



{% block content %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css" media="all"/>

    <section class= "pd-0">
        <div class= "container">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">statistic</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="{% url 'sim_trade:sim_trade'%}" class="btn btn-primary btn-sm" style="float: left">back</a>
                </div>
            </div>
            <div class="p-0 text-dark rounded bg-white">
                {# show the pie chart of total unit and total paid value #}
                <div id="chart" style="width: 1150px;height:600px;"></div>
                {# show the bar chart of owned stock #}
                <div id="bar" style="width: 1000px;height:600px;margin: 0 auto"></div>
                {# show the bar chart of profit and loss #}
                <div id="bar_diff" style="width: 1000px;height:600px;margin: 0 auto"></div>
            </div>
       </div>
    
    </section>
  
      
{% endblock %}


{% block script_content %}

<script type="text/javascript" src="{% static 'js/echarts-en.min.js' %}"></script>
    <script type="text/javascript">
        var account = {{ account| safe}};
        
        var thr = {{ value_thr|safe}};
        var len = account.length;
        var others;
         
        if (len > 4) {
            others = unit_function(account, thr);
        }
        else {
            others = account.sort(function(a, b){return b.owned_value - a.owned_value}); 
        };
        
        function unit_function(account, thr) {
           
            account = account.sort(function(a, b){return a.owned_value - b.owned_value});     
            var others = {'stockname': 'others', 'unit': 0, 'owned_value': 0, 'current_value': 0, 'loss': 0, 'profit': 0};
            var new_account = [];
            var i;
            var len = account.length;
            for (i = 0; i < len; i++) {
                var e = account.pop(); 
               
                if (e.owned_value >= thr) {
                     new_account.push(e);
                    
                } else {
                    others.unit = others.unit + e.unit;
                    others.owned_value = others.owned_value + e.owned_value;
                    others.current_value = others.current_value + e.current_value;
                    others.loss = others.loss + e.loss;
                    others.profit = others.profit + e.profit; 
                };
            };
            
            new_account.push(others);
            return new_account;  
            
        };   
            


        var myChart = echarts.init(document.getElementById('chart'));
        
        myChart.setOption({
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
             
            legend: {
                type: 'scroll',
                
                right: 'center',
                bottom: '10%',
                orient: 'horizontal'
            },
            dataset: {
                source: others
            },
            title: [{
                text: 'the total owned stock',
                left: 'center'
                }, {
                    subtext: 'the total quantity of owned stock',
                    left: '25%',
                    top: '75%',
                    textAlign: 'center'
                }, {
                subtext: 'the total value of owned stock',
                left: '70%',
                top: '75%',
                textAlign: 'center'
            }],
            series : [
                {
                    name: 'owned quantity',
                    type: 'pie',    
                    radius: '50%',  
                    center: ['25%', '40%'],
                    encode: {
                        itemName: 'stockname',
                        value: 'unit'
                    }
                },
                {
                    name: 'owned value',
                    type: 'pie',    
                    radius: '50%',  
                    center: ['70%', '40%'],
                    encode: {
                        itemName: 'stockname',
                        value: 'owned_value'
                    }
                }
                
            ]
        });
        
        var myBar = echarts.init(document.getElementById('bar'));

        var option = {
            
               tooltip: {
                    trigger: 'axis',
                    axisPointer: {          
                        type: 'shadow'          
                    }
                },
                title: {
                    text: 'the value of each stock',
                    left: 'center'},
                legend: {
                    type: 'scroll',
                    orient: 'vertical',
                    left: 'right',
                },
                dataset: {
                    
                    dimensions: ['stockname', 'owned_value', 'current_value'],
                    source: others
                },
                yAxis: {type: 'category'},
                xAxis: {},
                series: [
                    {type: 'bar'},
                    
                    {type: 'bar'}
                ]
            };

        myBar.setOption(option);

        var myBar_diff = echarts.init(document.getElementById('bar_diff'));

        var option_diff = {
            
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {          
                        type: 'shadow'          
                    }
                },
                title: {
                    text: 'the profit or loss of each stock',
                    left: 'center'},
                legend: {
                    type: 'scroll',
                    orient: 'vertical',
                    left: 'right',
                },
                dataset: {
                    
                    dimensions: ['stockname', 'profit','loss'],
                    source: others
                },
                yAxis: {type: 'category'},
                xAxis: {},
                series: [
                    {
                        type: 'bar',
                        stack: 'value'
                    },
                    {
                        type: 'bar',
                        stack: 'value'
                    }
                ]
            };

    
        myBar_diff.setOption(option_diff);

     </script>
{% endblock %}