

{% extends 'base.html' %}
{% load static %}
{% block title %}
    Record
{% endblock %}


{% block content %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css" media="all"/>

     <section class="pb-0">
        <div class="container">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Record</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="{% url 'sim_trade:sim_trade'%}" class="btn btn-primary btn-sm" style="float: left">back</a>
                </div>
            </div>
            <div class="table-responsive p-0 text-dark rounded bg-white">
                <table id="table" 
                    data-search="true"
                    data-toolbar="#toolbar" 
                    data-toggle="table" 
                    data-pagination="true">
                    <thead>
                        <tr>
                            <th data-field="id" data-align=”center” data-sortable="true">ID</th>
                            <th data-field="stockname" data-align=”center” data-sortable="true">Symbol</th>
                            <th data-field="quantity" data-align=”center” data-sortable="true">Quantity</th>
                            <th data-field="price" data-align=”center” data-sortable="true">Price</th>
                            <th data-field="stock_value" data-align=”center” data-sortable="true">Total</th>
                            <th data-field="type" data-align=”center” data-sortable="true">Transaction</th>
                            <th data-field="createdAt" data-align=”center” data-sortable="true">Create At</th>
                        </tr>
                    </thead>   
                    <tbody>
                        {% for row in record %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.stockname }}</td>
                                <td>{{ row.quantity }}</td>
                                <td>{{ row.price }}</td>
                                <td>{{ row.stock_value }}</td>
                                <td>{{ row.type }}</td>      
                                <td>{{ row.createdAt }}</td>
                            
                            </tr>
                        {% endfor %}
                    </tbody>              
                </table>
            
            </div>
            
        </div>
        
    </section>


      
{% endblock %}


{% block script_content %}

<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
{% endblock %}