{% extends 'base.html' %}
{% load static %}

{% block title %}
    About us
{% endblock %}

{% block content %}
    <div class="bg-primary-3 o-hidden" data-overlay>
        <section class="text-dark pb-0">
            <div class="container pb-5">
                <div class="row justify-content-center text-center">
                    <div class="col-md-9 col-lg-8 col-xl-7">
                        <h1 class="display-3">A feisty group of
                            <mark data-aos="highlight-text" data-aos-delay="250">change makers</mark>
                        </h1>
                        <p class="lead mb-0">Coders are also changing the economic world</p>

                    </div>
                </div>
            </div>
            <div class="position-absolute w-50 h-100 top left" data-jarallax-element="100 50">
                <div class="blob blob-4 bg-gradient w-100 h-100 top left"></div>
            </div>
            <div class="divider divider-bottom bg-white"></div>
        </section>
    </div>

    <section class="pb-0">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="display-4">Our
                        <mark data-aos="highlight-text" data-aos-delay="250">team members</mark>
                    </h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <ul class="avatar-group avatar-group-lg flex-wrap justify-content-center">
                            <li>
                                <div><img src="{% static 'img/avatars/avator-1.jpg' %}" alt=" profile image"
                                          class="avatar avatar-xl"></div>
                                <p class="lead">Cao Lei</p>
                            </li>
                            <li>
                                <div><img src="{% static 'img/avatars/avator-2.jpg' %}" alt=" profile image"
                                          class="avatar avatar-xl"></div>
                                <p class="lead">Di Wu</p>
                            </li>
                            <li>
                                <div><img src="{% static 'img/avatars/avator-3.jpg' %}" alt=" profile image"
                                          class="avatar avatar-xl"></div>
                                <p class="lead">Liwen Hu</p>
                            </li>
                            <li>
                                <div><img src="{% static 'img/avatars/avator-4.jpg' %}" alt=" profile image"
                                          class="avatar avatar-xl"></div>
                                <p class="lead">Yiren Hu</p>
                            </li>
                            <li>
                                <div><img src="{% static 'img/avatars/avator-5.jpg' %}" alt=" profile image"
                                          class="avatar avatar-xl"></div>
                                <p class="lead">Yue Sun</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="bg-primary-3 text-dark pt-0">
        <div class="divider divider-top transform-flip-x bg-light"></div>
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="display-4">Here are the numbers</h3>
                    <div class="lead">We’re an aspiring team of coders and creatives
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card card-body bg-white h-100">
                        <div class="display-4 text-primary mb-3" data-countup data-start="0" data-end="100"
                             data-duration="1" data-decimal-places="" data-prefix="" data-separator="" data-grouping=""
                             data-suffix="+" data-easing="false"></div>
                        <div>Our commits of developing this system to Github</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card card-body bg-white h-100">
                        <div class="display-4 text-primary mb-3" data-countup data-start="0" data-end="2000"
                             data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping=""
                             data-suffix="+" data-easing=""></div>
                        <div>The amount of lines of code written</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card card-body bg-white h-100">
                        <div class="display-4 text-primary mb-3" data-countup data-start="" data-end="100"
                             data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping=""
                             data-suffix="%" data-easing=""></div>
                        <div>Teamwork over the past weeks</div>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}