{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact us
{% endblock %}

{% block content %}
    <div class="bg-gradient p-0 o-hidden" data-overlay>
      <section class="pb-0">
        <div class="container">
          <div class="text-white">
            <div class="row section-title justify-content-center text-center">
              <div class="col-md-9 col-lg-8 col-xl-7">
                <h1 class="display-3">Estamos aqui para te ajudar!</h1>
                <div class="lead">Se você tem alguma dúvida, deixe aqui!</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-11">
              <form class="card card-body shadow" data-form-email novalidate action="/forms/smtp.php">
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="planner-name">Nome</label>
                      <input type="text" name="contact-name" class="form-control" id="planner-name" required>
                      <div class="invalid-feedback">
                        Por favor, escreva seu nome.
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="planner-email">Email</label>
                      <input type="email" name="contact-email" class="form-control" id="planner-email" placeholder="seuemail@email.com" required>
                      <div class="invalid-feedback">
                        Por favor, escreva o seu e-mail!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="planner-phone">Telefone (opcional)</label>
                      <input type="tel" name="contact-phone" class="form-control" id="planner-phone" required>
                      <div class="invalid-feedback">
                        Por favor, escreva seu telefone.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="planner-message">Como podemos te ajudar?</label>
                  <textarea name="message" id="planner-message" rows="10" class="form-control" required></textarea>
                  <div class="invalid-feedback">
                    Por favor, escreva suas dúvidas.
                  </div>
                </div>
                <div class="d-flex flex-column flex-wrap flex-md-row justify-content-between align-items-center">
                  <div class="custom-control custom-checkbox mb-3 mb-md-0">
                    <input type="checkbox" class="custom-control-input" id="planner-agree" required>
                    <label class="custom-control-label" for="planner-agree">Eu concordo com os <a target="_blank" href="utility-legal-terms.html">Termos &amp; Condições</a>
                    </label>
                    <div class="invalid-feedback">
                      Por favor, aceite os termos.
                    </div>
                  </div>
                  <div class="d-none alert alert-success w-100 my-md-3" role="alert" data-success-message>
                    Obrigado, um membro do nosso time irá entrar em contato.
                  </div>
                  <div class="d-none alert alert-danger w-100 my-md-3" role="alert" data-error-message>
                    Por favor, preencha os campos corretamente.
                  </div>
                  <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                  <button class="btn btn-primary btn-loading" type="submit" data-loading-text="Sending">
                    <!-- Icon for loading animation -->
                    <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Loading</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g>
                          <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                        </g>
                        <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                        fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                      </g>
                    </svg>
                    <span>Enviar menssagem</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="divider divider-bottom bg-white"></div>
      </section>
    </div>
    <section>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-auto" data-aos="fade-up">
            <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
              <h5>Nosso email</h5>
              <a href="#" class="lead">sistemaDeApoio@gmail.com</a>
            </div>
          </div>
          <div class="col-md-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
              <h5>Endereço</h5>
              <address>
                <p>Av. Francisco Pignatari, 650</p>
                <p>Vila Gustavo Correia - Carapicuíba</p>
                <p>São Paulo - CEP:  06310-390</p>
                <p>Brasil</p>
              </address>
              <a href="#">Chegue até a gente!</a>
            </div>
          </div>
          <div class="col-md-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="px-md-4 px-lg-5 mb-5 mb-md-0">
              <h5>Ligue para gente</h5>
              <a href="#" class="lead">11 4184 8404</a>
            </div>
          </div>
        </div>
      </div>
    </section>
<!--{#    <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">#}-->
<!--{#        <div class="row justify-content-center">#}-->
<!--{#            <div class="col-xl-2 col-lg-5 col-md-6">#}-->
<!--{#                <h1>Contact Us!</h1>#}-->
<!--{#                <h3>We are</h3>#}-->
<!--{#                <p>Cao Lei z5170034@ad.unsw.edu.au</p>#}-->
<!--{#                <p>Liwen Hu liwen.hu@student.mail.unsw.edu.au</p>#}-->
<!--{#                <p>Yue Sun z5238570@ad.unsw.edu.au</p>#}-->
<!--{#                <p>Yiren Hu z5148244@ad.unsw.edu.au</p>#}-->
<!--{#                <p>Di Wu z5231299@ad.unsw.edu.au</p>#}-->
<!--{##}-->
<!--{#            </div>#}-->
<!--{#        </div>#}-->
<!--{#    </div>#}-->

{% endblock %}