{% extends 'base.html' %}
{% load static %}

{% block title %}
    SimTrade
{% endblock %}

{% block content %}
    <section class="pb-0">
        <div class="container">
            <div class="p-0 text-dark rounded bg-white">
                <div data-intro='This table shows your asset statistic!' data-step='1'>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Account</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <a href="javascript:void(0);"
                               onclick="javascript:introJs().setOption('showProgress', true).start();"
                               class="mr-2 btn btn-sm btn-info">
                                Intro
                            </a>
                            <a href="{% url 'statistic:analysis' %}" class="btn btn-primary btn-sm mr-2" data-intro='Click this button to view your statistic chart.' data-step='5'>Analysis</a>
                            <a href="{% url 'statistic:record' %}" class="btn btn-sm btn-secondary"
                               data-intro='Click this button to view your trade record.' data-step='6'>
                                View record
                            </a>
                        </div>
                    </div>

                    <div class="d-flex mb-3">
                        <div class="p-2 flex-fill">
                            <div class="numbers">
                                <a href="#" data-toggle="tooltip" data-placement="top"
                                   title="Calculated as: = cash + market value of stocks">
                                    Account Value</a>
                                <h4 class="mt-2 card-title">{{ acc.a }}</h4>
                            </div>
                        </div>
                        <div class="p-2 flex-fill">
                            <div class="numbers">
                                <a href="#" data-toggle="tooltip" data-placement="top"
                                   title="Total amount of cash available for trading stocks with">
                                    Cash</a>
                                <h4 class="mt-2 card-title">{{ acc.c }}</h4>
                            </div>
                        </div>
                        <div class="p-2 flex-fill">
                            <div class="numbers">
                                <a href="#" data-toggle="tooltip" data-placement="top"
                                   title="Total market value of stocks">
                                    Stock Value</a>
                                <h4 class="mt-2 card-title">{{ acc.s }}</h4>
                            </div>
                        </div>
                        <div class="p-2 flex-fill">
                            <div class="numbers">
                                <a href="#" data-toggle="tooltip" data-placement="top"
                                   title="Calculated as: = starting account value - current account value">
                                    Earning Value</a>
                                <h4 class="mt-2 card-title">{{ acc.e }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-intro='This panel about your stock!' data-step='2'>
                    <h2>Owned Stocks</h2>
                    <div id="toolbar" data-intro='Click these buttons to buy or sell stocks' data-step='3'>
                        <div class="form-inline" role="form">
                            <button type="button" class="btn btn-sm btn-info ml-2" data-toggle="modal"
                                    data-target="#purchase">
                                Buy stock
                            </button>
                            <button type="button" class="btn btn-sm btn-warning ml-2" data-toggle="modal"
                                    data-stock="" data-target="#sold">
                                Sell stock
                            </button>
                        </div>
                    </div>
                    <table id="ownedStock" data-toolbar="#toolbar" data-toggle="table" data-search="true"
                           data-intro='All stocks you hold will show here.' data-step='4'>
                        <thead>
                        <tr>
                            <th data-field="sym" data-sortable="true">Symbol</th>
                            <th data-field="val" data-sortable="true" data-formatter="eFormatter">Earnings</th>
                            <th data-field="num" data-sortable="true">Quantity</th>
                            <th data-field="cur" data-sortable="true">Current price</th>
                            <th data-field="pay" data-sortable="true" data-formatter="pFormatter">Total paid</th>
                            <th data-field="avg" data-sortable="true">Avg. purchase price</th>
                            <th data-field="min" data-sortable="true">Min.</th>
                            <th data-field="max" data-sortable="true">Max.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in owned_list %}
                            <tr class="stock-row">
                                <td><a href='/stock/{{ row.stock.symbol }}' title='View detail'
                                       target='_blank'>{{ row.stock.symbol }}</a></td>
                                <td>{{ row.id }}</td>
                                <td>{{ row.quantity }}</td>
                                <td>{{ row.stock.price }}</td>
                                <td>{{ row.id }}</td>
                                <td>{{ row.avg_price }}</td>
                                <td>{{ row.min_price }}</td>
                                <td>{{ row.max_price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="purchase" data-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ORDER STOCK</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-6">
                        <form>
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="input-group mb-3">
                                    <label for="symbol" class="col-sm-4 col-form-label">STOCK SYMBOL</label>
                                    <input id="symbol" type="text" class="form-control" placeholder="Enter stock symbol"
                                           aria-label="Stock symbol" aria-describedby="button-addon1"
                                           onchange="chgSym()">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" onclick="checkStock()" type="button" style="max-height: 48px;"
                                                id="button-addon1">
                                            Check
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-none bg-light" id="stockInfo">
                                <label for="sname" class="col-sm-3 col-form-label">COMPANY</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="sname"
                                           value="">
                                </div>
                                <label for="curP" class="col-sm-3 col-form-label">CURRENT</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="curP"
                                           value="">
                                </div>
                                <label for="highP" class="col-sm-3 col-form-label">DAY'S HIGH</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="highP"
                                           value="">
                                </div>
                                <label for="lowP" class="col-sm-3 col-form-label">DAY'S LOW</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="lowP"
                                           value="">
                                </div>
                                <label for="chg" class="col-sm-3 col-form-label">OPEN</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="openP"
                                           value="">
                                </div>
                                <label for="pchg" class="col-sm-3 col-form-label">PREVIOUS CLOSE</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="clsP"
                                           value="">
                                </div>
                                <label for="update" class="col-sm-3 col-form-label">UPDATE</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="update"
                                           value="">
                                </div>
                            </div>
                            <div class="form-group row alert alert-danger d-none" id="checkTip" role="alert"> No data
                                found, please
                                check the symbol!
                            </div>
                            <div class="form-group row">
                                <label for="quantity" class="col-sm-4 col-form-label">QUANTITY</label>
                                <input type="number" class="form-control col-sm-4" id="quantity" disabled
                                       name="qua" oninput="inputQ()" onchange="changeQ()">
                            </div>
                            <div class="form-group text-center row">
                                <div class="col-sm-12">
                                    <button id="submit" disabled type="button" onclick="orderSubmit()"
                                            class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p>{{ buy_res }}</p>
                    </div>
                    <div class="col-lg-6">
                        <table class="w-100">
                            <tr>
                                <td>Account Value</td>
                                <td>{{ acc.a }}</td>
                            </tr>
                            <tr>
                                <td>Cash</td>
                                <td id="cashV" data-value="{{ acc.cv }}">{{ acc.c }}<span id="chgC"></span></td>
                            </tr>
                            <tr>
                                <td>Stock Value</td>
                                <td id="stockV" data-value="{{ acc.sv }}">{{ acc.s }}<span id="chgS"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sold" data-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">SELL STOCK</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-6">
                        <form>
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="input-group">
                                    <label for="symbol" class="col-sm-4 col-form-label">STOCK SYMBOL</label>
                                    <select class="custom-select" id="stockSelect"
                                            aria-label="Select a stock" onchange="chgSym2()">
                                        <option selected value="">Choose...</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button id="button-addon2" class="btn btn-outline-primary"
                                                onclick="sellCheckStock()" type="button" style="max-height: 48px;">Check
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-none bg-light" id="sell_stockInfo">
                                <label for="sell_name" class="col-sm-3 col-form-label">COMPANY</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="sell_name"
                                           value="">
                                </div>
                                <label for="sell_curP" class="col-sm-3 col-form-label">CURRENT</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="sell_curP"
                                           value="">
                                </div>
                                <label for="sell_avgP" class="col-sm-3 col-form-label">PURCHASE</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="sell_avgP"
                                           value="">
                                </div>
                                <label for="sell_highP" class="col-sm-3 col-form-label">DAY'S HIGH</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="sell_highP"
                                           value="">
                                </div>
                                <label for="sell_lowP" class="col-sm-3 col-form-label">DAY'S LOW</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="sell_lowP"
                                           value="">
                                </div>
                                <label for="sell_chg" class="col-sm-3 col-form-label">OPEN</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="sell_openP"
                                           value="">
                                </div>
                                <label for="sell_pchg" class="col-sm-3 col-form-label">PREVIOUS CLOSE</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="sell_clsP"
                                           value="">
                                </div>
                                <label for="sell_max" class="col-sm-3 col-form-label">HOLDING</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="sell_max"
                                           value="">
                                </div>
                                <label for="sell_update" class="col-sm-3 col-form-label">UPDATE</label>
                                <div class="col-sm-3">
                                    <input type="text" readonly class="form-control-plaintext" id="sell_update"
                                           value="">
                                </div>

                            </div>
                            <div class="form-group row alert alert-danger d-none" id="sell_checkTip" role="alert"> No
                                data
                                found, please
                                check the symbol!
                            </div>
                            <div class="form-group row">
                                <label for="quantity" class="col-sm-4 col-form-label">QUANTITY</label>
                                <input type="number" class="form-control col-sm-4" id="sell_quantity" disabled
                                       name="qua" oninput="sellInputQ()" onchange="sellChangeQ()">
                            </div>
                            <div class="form-group text-center row">
                                <div class="col-sm-12">
                                    <button id="sell_submit" disabled type="button" onclick="sellSubmit()"
                                            class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p>{{ buy_res }}</p>
                    </div>
                    <div class="col-lg-6">
                        <table class="w-100">
                            <tr>
                                <td>Account Value</td>
                                <td>{{ acc.a }}</td>
                            </tr>
                            <tr>
                                <td>Cash</td>
                                <td id="sell_cashV" data-value="{{ acc.cv }}">{{ acc.c }}<span id="sell_chgC"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Stock Value</td>
                                <td id="sell_stockV" data-value="{{ acc.sv }}">{{ acc.s }}<span id="sell_chgS"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Earning Value</td>
                                <td id="sell_earnV" data-value="{{ acc.ev }}">{{ acc.e }}<span id="sell_chgE"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_content %}
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $('#sold').on('show.bs.modal', function () {

                $(".stock-row").each(function () {
                    s_sym = this.children[0].innerText
                    var opt = "<option value='" + s_sym + "'>" + s_sym + "</option>"
                    $("#stockSelect").append(opt);
                })

            })
        });

        function eFormatter(value, row) {
            s_num = parseInt(row['num'])
            s_price1 = parseFloat(row['cur'])
            s_price2 = s_price1 - parseFloat(row['avg'])
            row['val'] = (s_num * s_price2).toFixed(2)
            return row['val']
        }

        function pFormatter(value, row) {
            s_num = parseInt(row['num'])
            s_price = parseFloat(row['avg'])
            row['pay'] = (s_num * s_price).toFixed(2)
            return row['pay']
        }

        function chgSym() {
            $("#button-addon1").attr("disabled", false);
            $("#stockInfo").addClass('d-none');
            $("#quantity").val('');
            $("span#chgC").text('');
            $("span#chgS").text('');
        }

        function chgSym2() {
            $("#button-addon2").attr("disabled", false);
            $("#sell_stockInfo").addClass('d-none');
            $("#sell_quantity").val('');
            $("span#sell_chgC").text('');
            $("span#sell_chgS").text('');
            $("span#sell_chgE").text('');

        }

        function checkStock() {
            var sym = $("input#symbol").val()
            if (sym != "") {
                var url = 'sim_trade/checkStock/' + sym;
                $.get(url, function (rawData) {
                    if (rawData['type'] == 'success') {
                        $("div#checkTip").addClass('d-none');
                        $("input#sname").val(rawData['name']);
                        $("input#curP").val(rawData['price']);
                        $("input#highP").val(rawData['high']);
                        $("input#lowP").val(rawData['low']);
                        $("input#openP").val(rawData['open']);
                        $("input#clsP").val(rawData['close']);
                        $("input#update").val(rawData['updateAt']);
                        $("div#stockInfo").removeClass('d-none');
                        $("input#quantity").attr("disabled", false);
                        $("#button-addon1").attr("disabled", true);
                    } else {
                        $("div#stockInfo").addClass('d-none');
                        $("div#checkTip").removeClass('d-none');
                        $("input#quantity").attr("disabled", true);
                    }
                });
            }
        }

        function inputQ() {
            $('#submit').attr("disabled", true);
        }

        function changeQ() {
            var unit = parseFloat($("input#quantity").val())
            if (unit > 0 & $("#stockInfo").is(":visible")) {
                var price = parseFloat($("input#curP").val())
                var cash = parseFloat($("td#cashV").data("value"))
                var stock = parseFloat($("td#stockV").data("value"))
                if (unit * price > cash) {
                    unit = parseInt(cash / price);
                }
                var chg = parseFloat(unit * price)
                var chgC = cash - chg
                var chgS = stock + chg

                $("span#chgC").text(" - $" + chg.toFixed(2) + " = $" + chgC.toFixed(2));
                $("span#chgC").css("color", "red");
                $("span#chgS").text(" + $" + chg.toFixed(2) + " = $" + chgS.toFixed(2));
                $("span#chgS").css("color", "green");
                $("input#quantity").val(parseInt(unit));
                $('#submit').attr("disabled", false);
            } else {
                $("span#chgC").text('')
                $("span#chgS").text('')
                $("input#quantity").val('')
            }

        }

        function orderSubmit() {
            $('#submit').attr("disabled", true);
            $.ajax({
                headers: {
                    'x-csrftoken': $('[name="csrfmiddlewaretoken"]').val(),
                },
                url: "/buy_stock",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    "symbol": $('input#symbol').val(),
                    "price": $('input#curP').val(),
                    "number": $('input#quantity').val()
                }),
                type: 'POST',
                success: function (res) {
                    if (res.type == 'success') {
                        $('#checkTip').removeClass('alert-danger')
                        $('#checkTip').addClass('alert-success')
                        $('#checkTip').html('Success!')
                        $('#checkTip').removeClass('d-none')
                    } else {
                        $('#checkTip').html(res['message'])
                        $('#checkTip').removeClass('d-none')
                    }
                    setTimeout(function () {
                        window.location.reload();
                    }, 3000);
                }
            })
        }
    </script>
    <script>
        function sellCheckStock() {
            $('#sell_submit').attr("disabled", true);
            var sym = $("#stockSelect").val()
            if (sym != "") {
                var url = 'sim_trade/sellCheckStock/' + sym;
                $.get(url, function (rawData) {
                    if (rawData['type'] == 'error') {
                        $("div#sell_stockInfo").addClass('d-none');
                        $("div#sell_checkTip").removeClass('d-none');
                        $("input#sell_quantity").attr("disabled", true);
                    } else {
                        $("div#sell_checkTip").addClass('d-none');
                        $("input#sell_name").val(rawData['name']);
                        $("input#sell_curP").val(rawData['price']);
                        $("input#sell_avgP").val(rawData['avgp']);
                        $("input#sell_highP").val(rawData['high']);
                        $("input#sell_lowP").val(rawData['low']);
                        $("input#sell_openP").val(rawData['open']);
                        $("input#sell_clsP").val(rawData['close']);
                        $("input#sell_update").val(rawData['updateAt']);
                        $("input#sell_max").val(rawData['volume']);
                        $("div#sell_stockInfo").removeClass('d-none');
                        $("input#sell_quantity").attr("disabled", false);
                        $("#button-addon2").attr("disabled", true);
                    }
                });
            }
        }

        function sellInputQ() {
            $('#sell_submit').attr("disabled", true);
        }

        function sellChangeQ() {
            var unit = parseInt($("input#sell_quantity").val())
            if (unit > 0 & $("#sell_stockInfo").is(":visible")) {
                var hold = parseInt($("input#sell_max").val())
                var price = parseFloat($("input#sell_curP").val())
                var cash = parseFloat($("td#sell_cashV").data("value"))
                var stock = parseFloat($("td#sell_stockV").data("value"))
                var avgp = parseFloat($("input#sell_avgP").val())
                if (unit > hold) {
                    unit = hold;
                }
                var chg = parseFloat(unit * price)
                var chgC = cash + chg
                var chgS = stock - unit * price

                var chgE = Math.abs(price - avgp) * unit

                $("span#sell_chgC").text(" + $" + chg.toFixed(2) + " = $" + chgC.toFixed(2));
                $("span#sell_chgC").css("color", "green");
                $("span#sell_chgS").text(" - $" + chg.toFixed(2) + " = $" + chgS.toFixed(2));
                $("span#sell_chgS").css("color", "red");
                if (price > avgp) {
                    $("span#sell_chgE").text(" + $" + chgE.toFixed(2));
                    $("span#sell_chgE").css("color", "green");
                } else if (price == avgp) {
                    $("span#sell_chgE").text(" + 0");
                } else {
                    $("span#sell_chgE").text(" - $" + chgE.toFixed(2));
                    $("span#sell_chgE").css("color", "red");
                }
                $("input#sell_quantity").val(parseInt(unit));
                $('#sell_submit').attr("disabled", false);
            } else {
                $("span#sell_chgC").text('')
                $("span#sell_chgS").text('')
                $("span#sell_chgE").text('')
                $("input#sell_quantity").val('')
            }

        }

        function sellSubmit() {
            $('#sell_submit').attr("disabled", true);
            $.ajax({
                headers: {
                    'x-csrftoken': $('[name="csrfmiddlewaretoken"]').val(),
                },
                url: "/sell_stock",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    "symbol": $("#stockSelect").val(),
                    "price": $('input#sell_curP').val(),
                    "number": $('input#sell_quantity').val()
                }),
                type: 'POST',
                success: function (res) {
                    if (res.type == 'success') {
                        $('#sell_checkTip').removeClass('alert-danger')
                        $('#sell_checkTip').addClass('alert-success')
                        $('#sell_checkTip').html('Success!')
                        $('#sell_checkTip').removeClass('d-none')
                    } else {
                        $('#sell_checkTip').html(res['message'])
                        $('#sell_checkTip').removeClass('d-none')
                    }
                    setTimeout(function () {
                        window.location.reload();
                    }, 3000);
                }
            })
        }
    </script>

{% endblock %}