{% extends 'base.html' %}
{% load  static %}

{% block title %}
    Agenda
{% endblock %}

{% block content %}
{% if not request.session.user_id %}
{% else %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <section class="bg-primary-3 text-dark">
    {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center text-center">
                <h1 id="nomeMateria" class="display-3"> Veja suas tarefas por aqui </h1>
            </div>
            <br>
            <br>
            <br>
            <div class="main-materia row justify-content-center text-center">
                {% for tarefa in tarefas %}
                    <h1 class="display-5"> {{tarefa.materia}} </h1>
                    <h1 class="display-5"> {{tarefa.tarefa}} </h1>
                    <h1 class="display-5"> {{tarefa.data}} </h1>
                {% endfor %}
            </div>
        </div>  
    </section>
{% endif %}
{% endblock %}