{% extends 'base.html' %}
{% load static %}

{% block title %}
    Agenda
{% endblock %}

{% block content %}
<title>Lembretes de tarefas</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
<script src="https://npmcdn.com/flatpickr@4.6.13/dist/l10n/pt.js"></script>
 <body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <br><br><br>
      <h1 class="display-3">Agenda</h1>
      <br>
      <p>Veja suas tarefas por aqui</p> 
   </div>
    <div class="container">
      <div class="new-task-container">
        <input type="text" class="new-task-input" placeholder="Tarefa para ser feita..."/>  
        <input placeholder="Data Limite" class="new-task-date" type="date" id="date" name="trip-start" min = "2021-10-22" max="2023-10-10"/>
        <button class="new-task-button">Adicionar</button> 
      </div>
      <div class="tasks-container"></div>
    </div>
    <br><br>
    <script
      src="https://kit.fontawesome.com/f9e19193d6.js"
      crossorigin="anonymous"
    ></script>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <style>
   *  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 30px 40px;
  width: 40%;
  min-width: 500px;
}

.new-task-container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex ;
  align-items: center; 
  justify-content: center;
}

.new-task-container input {
  flex: 3;
  font-size: 1rem;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  padding: 12px;
  font-weight: 500;
}

.new-task-container input:focus {
  outline: none;
  border-color: #41b883;
}

.new-task-button {
  flex: 1;
  border-radius: 5px;
  font-weight: 500;
  height: 100%;
  font-size: 1rem;
  border: none;
  background-color: #41b883;
  color: #fff;
  padding: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.tasks-container {
  background-color: #fff;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
  color: black;
}

.task-item i {
  background-color: #41b883;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
}

.task-item i:hover {
  cursor: pointer;
}

/* Utilities */
.error {
  border: 2px solid red !important;
}

.error::placeholder {
  color: red;
}

.completed {
  text-decoration: line-through;
}
  </style>
  <script>
  config = {
    enableTime: true,
    dateFormat: "d/m/Y H:i",
    locale : "pt",
  }
//flatpickr para a configuração do formato da data 
flatpickr("input[type=date]",config); 

const inputElement = document.querySelector(".new-task-input");
const addTaskButton = document.querySelector(".new-task-button");

const tasksContainer = document.querySelector(".tasks-container");

const inputDateElement = document.querySelector(".new-task-date");

const validateInput = () => inputElement.value.trim().length > 0;

const handleAddTask = () => {
  const inputIsValid = validateInput();

  if (!inputIsValid) {
    return inputElement.classList.add("error");
  }

  const taskItemContainer = document.createElement("div");
  taskItemContainer.classList.add("task-item");

  const taskContent = document.createElement("p");
  taskContent.innerText = inputDateElement.value;

  var inputEspacoElement = "⠀⠀⠀|⠀⠀⠀";

  const espacoContent = document.createElement("p");
  taskContent.innerText += inputEspacoElement;

  const taskDateContent = document.createElement("p");
  taskContent.innerText += inputElement.value;

  taskContent.addEventListener("click", () => handleClick(taskDateContent,taskContent));

  const deleteItem = document.createElement("i");
  deleteItem.classList.add("far");
  deleteItem.classList.add("fa-trash-alt");

  deleteItem.addEventListener("click", () =>
    handleDeleteClick(taskItemContainer, taskContent)
  );

  taskItemContainer.appendChild(taskContent);
  taskItemContainer.appendChild(deleteItem);

  tasksContainer.appendChild(taskItemContainer);

  inputElement.value = "";

  updateLocalStorage();
};

const handleClick = (taskContent) => {
  const tasks = tasksContainer.childNodes;

  for (const task of tasks) {
    const currentTaskIsBeingClicked = task.firstChild.isSameNode(taskContent);

    if (currentTaskIsBeingClicked) {
      task.firstChild.classList.toggle("completed");
    }
  }

  updateLocalStorage();
};

const handleDeleteClick = (taskItemContainer, taskContent) => {
  const tasks = tasksContainer.childNodes;

  for (const task of tasks) {
    const currentTaskIsBeingClicked = task.firstChild.isSameNode(taskContent);

    if (currentTaskIsBeingClicked) {
      taskItemContainer.remove();
    }
  }

  updateLocalStorage();
};

const handleInputChange = () => {
  const inputIsValid = validateInput();

  if (inputIsValid) {
    return inputElement.classList.remove("error");
  }
};

const updateLocalStorage = () => {
  const tasks = tasksContainer.childNodes;

  const localStorageTasks = [...tasks].map((task) => {
    const content = task.firstChild;
    const isCompleted = content.classList.contains("completed");

    return { description: content.innerText, isCompleted };
  });

  localStorage.setItem("tasks", JSON.stringify(localStorageTasks));
};

const refreshTasksUsingLocalStorage = () => {
  const tasksFromLocalStorage = JSON.parse(localStorage.getItem("tasks"));

  if (!tasksFromLocalStorage) return;

  for (const task of tasksFromLocalStorage) {
    const taskItemContainer = document.createElement("div");
    taskItemContainer.classList.add("task-item");

    const taskContent = document.createElement("p");
    taskContent.innerText = task.description;

    if (task.isCompleted) {
      taskContent.classList.add("completed");
    }

    taskContent.addEventListener("click", () => handleClick(taskContent));

    const deleteItem = document.createElement("i");
    deleteItem.classList.add("far");
    deleteItem.classList.add("fa-trash-alt");

    deleteItem.addEventListener("click", () =>
      handleDeleteClick(taskItemContainer, taskContent)
    );

    taskItemContainer.appendChild(taskContent);
    taskItemContainer.appendChild(deleteItem);

    tasksContainer.appendChild(taskItemContainer);
  }
};

refreshTasksUsingLocalStorage();

addTaskButton.addEventListener("click", () => handleAddTask());

inputElement.addEventListener("change", () => handleInputChange());
  </script>
{% endblock %}