{% extends 'base.html' %}
{% load  static %}

{% block title %}
    Cadastre um assunto para sua matéria!
{% endblock %}

{% block content %}
{% if not request.session.user_id %}
  
{% else %}
<div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center o-hidden">
    <section class="py-3">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 mb-5 mb-md-0">
              <div class="card card-body shadow">
                <h1 class="h5 text-center">Cadastre um assunto para sua matéria!</h1>
                <form action="{% url 'materias:cadastrarAssunto' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <select name="materiaSelecionada">
                        {% for materia in materias %}
                          <option value="{{materia.id}}">{{materia.nome}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="assunto" placeholder="Assunto">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="link" placeholder="Link">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Cadastre-se</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>
</div>
{% endif %}
{% endblock %}