{% extends 'base.html' %}
{% load  static %}

{% block title %}
    {{materia.nome}}
{% endblock %}

{% block content %}
{% if not request.session.user_id %}
{% else %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <section class="bg-primary-3 text-dark">
    {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center text-center">
                <h1 id="nomeMateria" class="display-3"> {{materia.nome}} </h1>
                <h1 id="idMateria" class="display-3" style="visibility: hidden"> {{materia.id}} </h1>
            </div>
            <br>
            <br>
            <br>
            <div class="main-materia row justify-content-center text-center">
                <div class="center-lista">
                    <h1>Selecione a aula que gostaria de assistir</h1>
                <br>
                <div id="listaAssuntos" class="card-lista-aulas">
                
                </div>
            </div>
        </div>  
    </section>
<script>
    $(document).ready(function() {
        console.log('inicio')
        const id = document.getElementById("idMateria").innerHTML
        
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        
        buscarAssunto(id, csrftoken)
    }); 

    function buscarAssunto(materia, token){
        var teste = $.ajax({
            url : "http://127.0.0.1:8000/materia/assuntoMateria/",
            type : 'GET',
            data : {
                X_CSRF_TOKEN: token,
                materia : materia,
            },
            success: function(response){
                var card_assuntos = document.getElementById("listaAssuntos");
                for (var i = 0; i < response.length; i++) {
                    let a = document.createElement('a');
                    a.class = "botao.aula";
                    a.target = "_blank";
                    a.href = response[i][1];
                    let button = document.createElement('button');
                    button.style = "background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px; width:55vw;";
                    button.appendChild(document.createTextNode(response[i][0]));
                    a.appendChild(button);
                    card_assuntos.appendChild(a);
                    card_assuntos.appendChild(document.createElement('br'));
                    card_assuntos.appendChild(document.createElement('br'));
                    
                }
            }
        })
    } 

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
}
</script>
{% endif %}
{% endblock %}