{% extends 'base.html' %}
{% load  static %}

{% block title %}
    {{materia.nome}}
    {% for materia in assunto %}
        {{materia.nome}}
    {% endfor %}
{% endblock %}

{% block content %}
{% if not request.session.user_id %}
{% else %}
    <section class="bg-primary-3 text-dark">
        <div class="container">
            <div class="row justify-content-center text-center">
                <h1 class="display-3"> {{materia.nome}} </h1>
            </div>
            <br>
            <br>
            <br>
            <div class="main-materia row justify-content-center text-center">
                <div class="center-lista">
                    <h1>Selecione a aula que gostaria de assistir</h1>
                <br>
                <div class="card-lista-aulas">
                    
                    <a class="botao.aula" target="_blank" href='{{materia.link}}'><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px; width:55vw;">Gramática</button></a>
                    <br><br>
                    <a class="botao.aula" target="_blank" href="https://www.youtube.com"><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px; width:55vw;">Redação</button></a>
                    <br><br>
                    <a class="botao.aula" target="_blank" href="https://www.youtube.com"><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px; width:55vw;">Acentuação</button></a>
                    <br><br>
                    <a class="botao.aula" target="_blank" href="https://www.youtube.com"><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px; width:55vw;">Verbos</button></a>
                </div>
            </div>
        </div>  
    </section>
{% endif %}
{% endblock %}

